@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    background-color: #22252d;
    height: 100vh;
    color: white;
    font-family: 'Poppins' ,'sans-serif';
}

.quiz-container {
    width: 600px;
    min-height: 350px;
    padding: 1.5em;
    background-color: #181c27;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.quiz {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#quiz-title {
    color: white;
    font-size: 2em;
}

.hide {
    display: none;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.results {
    margin: auto 0;
    text-align: center;
}

button {
    padding: .8em 1.2em;
    outline: transparent;
    cursor: pointer;
    border: transparent;
    border-radius: 3px;
    background-color: #363e53;
    color: #8490b1;
    font-size: 1em;
    font-weight: 500;
}

button:hover {
    background-color: #303749;
}

