@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,'sans-serif';
}

h1 {
    color: white;
}

body {
    background-color: rgb(10, 2, 24);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

#quiz-title {
    color: white;
    font-size: 2em;
}

.start-game {
    width: 500px;
    height: 300px;
    background-color: rgb(41, 6, 51);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz, .results  {
    background-color: rgb(14, 11, 66);
    gap: 2em;
    padding: 2em;
    width: 500px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questions {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2em;
}

.questions button {
    width: 100%;
}

button {
    padding: .8em 1.2em;
    outline: transparent;
    border: transparent;
}

.hide { 
    display: none !important;
}

.correct {
    background-color: rgb(120, 240, 120);
}

.wrong {
    background-color: rgb(247, 83, 83);
}

.quizzes {
    display: flex;
    gap: 2em;
}