@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,'sans-serif';
}

h1 {
    color: white;
}

body {
    background-color: #22252d;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 230px 1fr;
}

button {
    padding: .8em 1.2em;
    outline: transparent;
    border: transparent;
}

.hide { 
    display: none !important;
}

.dashboard-active .dashboard {
    display: flex;
}

.dashboard-active .dashboard-button {
    background: rgb(45,48,56);
    background: linear-gradient(90deg, rgba(45,48,56,0.10127801120448177) 0%, rgba(45,48,56,15) 100%);
    color: white;
    border-radius: 15px;
}

.dashboard-active .removeQuizDrop {
    display: flex;
}

.create-quiz-active .create-quiz {
    display: flex;
}

.create-quiz-active .create-quiz-button {
    background: rgb(45,48,56);
    background: linear-gradient(90deg, rgba(45,48,56,0.10127801120448177) 0%, rgba(45,48,56,15) 100%);
    color: white;
    border-radius: 15px;
}



