* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: white;
}

body {
    background-color: rgb(10, 2, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#quiz-title {
    color: white;
    font-size: 2em;
}

.start-game {
    width: 500px;
    height: 300px;
    background-color: rgb(41, 6, 51);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz, .results  {
    background-color: rgb(245, 220, 245);
    padding: 2em;
    min-width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2em;
}

button {
    padding: .8em 1.2em;
    outline: transparent;
    border: 1px solid rgb(255, 136, 0);
}

.hide { 
    display: none;
}

.correct {
    background-color: rgb(120, 240, 120);
}

.wrong {
    background-color: rgb(247, 83, 83);
}