@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,'sans-serif';
}

h1 {
    color: white;
}

body {
    background-color: #22252d;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 230px 1fr;
}

button {
    padding: .8em 1.2em;
    outline: transparent;
    border: transparent;
}

.hide { 
    display: none !important;
}



